問題1】ブレンディングのスクラッチ実装
ブレンディング をスクラッチ実装し、単一モデルより精度があがる例を 最低3つ 示してください。精度があがるとは、検証用データに対する平均二乗誤差（MSE）が小さくなることを指します。

In [1]:
pwd

'/Users/niikurasayaka/diveintocode-ml/Sprint07'

In [102]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [103]:
df = pd.read_csv('/Users/niikurasayaka/diveintocode-ml/Week3/data/train.csv')

In [104]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [105]:
X = df[["GrLivArea", "YearBuilt"]]
y = df["SalePrice"]
y = np.log(y)

In [132]:
tr_x, val_x, tr_y, val_y = train_test_split(X, y, test_size=0.2, random_state=1)

In [133]:
lr = LinearRegression()
svr = SVR()
tree = DecisionTreeRegressor()
forest = RandomForestRegressor()

In [134]:
sc = StandardScaler()
tr_x_std = sc.fit_transform(tr_x)
val_x_std = sc.transform(val_x)

In [135]:
lr.fit(tr_x_std, tr_y)
svr.fit(tr_x_std, tr_y)
tree.fit(tr_x_std, tr_y)
forest.fit(tr_x_std, tr_y)

pred_lr = lr.predict(val_x_std)
pred_svr = svr.predict(val_x_std)
pred_tree = tree.predict(val_x_std)
pred_forest = forest.predict(val_x_std)

pred_blend1 = (pred_lr + pred_svr + pred_tree)/3
pred_blend2 = (pred_lr + pred_svr + pred_forest)/3
pred_blend3 = (pred_lr + pred_svr + pred_tree + pred_forest*3)/6

/Users/niikurasayaka/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [161]:
print("LinearRegression:{:.3f}".format(mean_squared_error(val_y, pred_lr)))
print("SVR:{:.3f}".format(mean_squared_error(val_y, pred_svr)))
print("DecisionTreeRegressor:{:.3f}".format(mean_squared_error(val_y, pred_tree)))
print("RandomForestRegressor:{:.3f}".format(mean_squared_error(val_y, pred_forest)))
print("LR+SVR+Tree:{:.3f}".format(mean_squared_error(val_y, pred_blend1)))
print("LR+SVR+Forest:{:.3f}".format(mean_squared_error(val_y, pred_blend2)))
print("LR+SVR+Tree+Forest:{:.3f}".format(mean_squared_error(val_y, pred_blend3)))

LinearRegression:0.045
SVR:0.047
DecisionTreeRegressor:0.069
RandomForestRegressor:0.049
LR+SVR+Tree:0.045
LR+SVR+Forest:0.043
LR+SVR+Tree+Forest:0.045

【問題2】バギングのスクラッチ実装
バギング をスクラッチ実装し、単一モデルより精度があがる例を 最低1つ 示してください。

In [154]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.2,random_state=0)

In [137]:
tree1 = DecisionTreeRegressor()
tree2 = DecisionTreeRegressor()
tree3 = DecisionTreeRegressor()

In [155]:
tr_x1, val_x1, tr_y1, val_y1 = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)
tr_x2, val_x2, tr_y2, val_y2 = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)
tr_x3, val_x3, tr_y3, val_y3 = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)

In [156]:
tree1.fit(tr_x1, tr_y1)
tree2.fit(tr_x2, tr_y2)
tree3.fit(tr_x3, tr_y3)
pred_tree1 = tree1.predict(val_x1)
pred_tree2 = tree2.predict(val_x2)
pred_tree3 = tree3.predict(val_x3)
pred_tree1_test = tree1.predict(test_x)
pred_tree2_test = tree2.predict(test_x)
pred_tree3_test = tree3.predict(test_x)
pred_tree_ave = (pred_tree1_test+pred_tree2_test+pred_tree3_test)/3

In [160]:
print("Tree1:{:.3f}".format(mean_squared_error(val_y1, pred_tree1)))
print("Tree2:{:.3f}".format(mean_squared_error(val_y2, pred_tree2)))
print("Tree3:{:.3f}".format(mean_squared_error(val_y3, pred_tree3)))
print("TreeAve:{:.3f}".format(mean_squared_error(test_y, pred_tree_ave)))

Tree1:0.077
Tree2:0.083
Tree3:0.065
TreeAve:0.057

【問題3】スタッキングのスクラッチ実装
スタッキング をスクラッチ実装し、単一モデルより精度があがる例を 最低1つ 示してください。

In [116]:
df = pd.concat((X, y), axis=1)
df

      GrLivArea  YearBuilt  SalePrice
0          1710       2003  12.247694
1          1262       1976  12.109011
2          1786       2001  12.317167
3          1717       1915  11.849398
4          2198       2000  12.429216
...         ...        ...        ...
1455       1647       1999  12.072541
1456       2073       1978  12.254863
1457       2340       1941  12.493130
1458       1078       1950  11.864462
1459       1256       1965  11.901583

[1460 rows x 3 columns]

In [117]:
train, test = train_test_split(df, test_size=0.2,random_state=0)

In [118]:
train

      GrLivArea  YearBuilt  SalePrice
618        1828       2007  12.659734
870         894       1962  11.603680
92          964       1921  12.004568
817        1689       2002  12.509874
302        1541       2001  12.230765
...         ...        ...        ...
763        2365       1999  12.727838
835        1067       1950  11.759786
1216       1902       1978  11.626254
559        1557       2003  12.363076
684        1839       1998  12.305918

[1168 rows x 3 columns]

In [126]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=4)

sum_pred_lr_val = np.zeros(train.shape[0])
sum_pred_forest_val = np.zeros(train.shape[0])
sum_pred_tree_val = np.zeros(train.shape[0])

sum_pred_lr_test = np.zeros(test.shape[0])
sum_pred_forest_test = np.zeros(test.shape[0])
sum_pred_tree_test = np.zeros(test.shape[0])

for tr, val in kf.split(train):
    
    tr_x = train.iloc[tr, [0, 1]]
    tr_y = train.iloc[tr, -1]
    val_x = train.iloc[val, [0, 1]]
    val_y = train.iloc[val, -1]
    test_x = test.iloc[:, [0, 1]]
    test_y = test.iloc[:, -1]

    lr = LinearRegression()
    forest = RandomForestRegressor()
    tree = DecisionTreeRegressor()
    
    sc = StandardScaler()
    tr_x_std = sc.fit_transform(tr_x)
    val_x_std = sc.transform(val_x)
    test_x_std = sc.transform(test_x)
    
    lr.fit(tr_x_std, tr_y)
    forest.fit(tr_x_std, tr_y)
    tree.fit(tr_x_std, tr_y)
    
    pred_lr_val = lr.predict(val_x_std)
    pred_forest_val = forest.predict(val_x_std)
    pred_tree_val = tree.predict(val_x_std)
    
    pred_lr_test = lr.predict(test_x_std)
    pred_forest_test = forest.predict(test_x_std)
    pred_tree_test = tree.predict(test_x_std)

    sum_pred_lr_val[val] = pred_lr_val
    sum_pred_forest_val[val] = pred_forest_val
    sum_pred_tree_val[val] = pred_tree_val
    
    sum_pred_lr_test += pred_lr_test/4
    sum_pred_forest_test += pred_forest_test/4
    sum_pred_tree_test += pred_tree_test/4

/Users/niikurasayaka/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/niikurasayaka/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/niikurasayaka/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/niikurasayaka/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [127]:
val_stack = pd.DataFrame([sum_pred_lr_val, sum_pred_forest_val, sum_pred_tree_val]).T
test_stack = pd.DataFrame([sum_pred_lr_test, sum_pred_forest_test, sum_pred_tree_test]).T

In [163]:
display(val_stack)
display(test_stack)

              0          1          2
0     12.396118  12.504191  12.669998
1     11.665188  11.861991  11.877569
2     11.445612  11.543697  11.594505
3     12.297832  12.475665  12.560244
4     12.219916  12.217595  12.273731
...         ...        ...        ...
1163  12.618953  12.670675  12.560244
1164  11.679875  11.630019  11.864462
1165  12.262461  12.205594  12.154779
1166  12.245222  12.149667  12.211060
1167  12.353634  12.257545  12.259613

[1168 rows x 3 columns]

             0          1          2
0    12.426196  12.210638  11.985768
1    11.868984  11.876522  11.905539
2    11.740456  11.756725  11.755869
3    12.307323  12.089974  11.946871
4    11.814875  11.514191  11.445184
..         ...        ...        ...
287  12.257006  12.181321  12.151537
288  12.683640  13.021844  12.958901
289  12.180113  12.108811  12.065616
290  11.436599  11.212818  11.262680
291  11.511377  11.486995  11.261945

[292 rows x 3 columns]

In [129]:
from sklearn.linear_model import Ridge
rg= Ridge()
rg.fit(val_stack, train["SalePrice"])

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [130]:
pred = rg.predict(test_stack)

In [165]:
print("stacking(LR,Forest,Tree):{:.3f}".format(mean_squared_error(test["SalePrice"], pred)))

stacking(LR,Forest,Tree):0.044